.page {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2a2c2f;
  color: white;
  margin: 0 auto;
  max-width: 1280px;
}

.page__section {
  padding-left: 48px;
  padding-right: 48px;
}

.page__section_size_lg {
  padding-left: 148px;
  padding-right: 148px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 28px auto 56px;
}

.header__links {
  display: flex;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 18px 0 0;
}

.header__lang-link {
  color: white;
  font-size: 24px;
  line-height: 1.7;
  font-weight: 400;
  text-decoration: none;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  margin: 0 auto 92px;
}

.lead__title {
  color: white;
  line-height: 1.041;
  font-size: 96px;
  text-align: center;
  font-weight: 900;
  max-width: 720px;
  margin: 0 auto 32px;
}

.lead__subtitle {
  color: white;
  line-height: 1.2;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  max-width: 640px;
  margin: 0 auto 64px;
}

.lead__image {
  width: 100%;
  object-fit: cover;
}

.lead__caption {
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding-top: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
}

.intro {
  margin: 0 auto 92px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1;
  margin: 0;
  max-width: 690px;
}

.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  font-style: normal;
  max-width: 690px;
  margin: 40px 0 0;
}

.intro__list {
  list-style-type: none;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  margin: 34px 0 0;
}

.intro__span {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-content: center;
  margin: 0 auto 92px;
}

.photo-grid__item {
  width: 100%;
  max-width: 352px;
}

.places {
  margin: 0 auto 92px;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 0 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin: 0;
}

.place__image {
  width: 100%;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.055;
  margin: 0 0 48px;
}

.place__link {
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  transition: 0.5s ease-out;
}

.place__link:hover {
  opacity: 0.3;
}

.place__url_heading {
  font-weight: 400;
  font-size: 12px;
  margin: 0 0 12px;
  line-height: 1;
  color: #aaaaaa;
  letter-spacing: 2px;
}

.place__website {
  max-width: 456px;
  align-self: end;
  padding-bottom: 48px;
}

.place__paragraph {
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:last-child {
  margin: 0;
}

.cover {
  margin: 0 auto 92px;
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  margin: 0 auto 32px;
  max-width: 560px;
  z-index: 2;
}

.cover__subtitle {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  z-index: 2;
}

.cover__overlay {
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__link {
  min-height: 740px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-decoration: none;
  background-image: url(./images/cover-trains.jpg);
  background-position: center;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.cover__link::before {
  content: '';
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 0.5s ease-out;
}

.cover__link:hover::before {
  opacity: 0.8;
}

.footer {
  display: flex;
  margin: 0 auto 24px;
  justify-content: space-between;
}

.footer__links {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 18px;
  margin: 0;
}

.footer__link {
  color: white;
  align-self: flex-start;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  margin: 0;
  transition: opacity 0.5s ease-out;
}

.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  margin: 0;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.3;
}

@media screen and (max-width: 1150px) {
  .header {
    margin: 28px auto 48px;
  }
  .lead__subtitle {
    margin: 0 auto 56px;
  }

  .page__section_size_md {
    padding-right: 0;
    padding-left: 0;
  }

  .page__section_size_lg {
    padding-left: 48px;
    padding-right: 48px;
  }

  .lead {
    margin: 0 auto 92px;
  }

  .photo-grid {
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
  }
  .place {
    grid-template-columns: 440px 1fr;
    gap: 0 32px;
  }
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 900px) {
  .page__section {
    padding-left: 24px;
    padding-right: 24px;
  }

  .page__section_size_lg {
    padding-left: 24px;
    padding-right: 24px;
  }

  .page__section_size_sm {
    padding-right: 0;
    padding-left: 0;
  }

  .lead {
    margin: 0 auto 88px;
  }
  .lead__caption {
    margin-left: 24px;
  }
  .intro {
    margin: 0 auto 88px;
  }
  .photo-grid {
    margin: 0 auto 88px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .place {
    grid-template-columns: 340px 1fr;
    gap: 0 28px;
  }
  .place__title {
    font-size: 42px;
    line-height: 1.09;
    max-width: 340px;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
  .cover {
    margin: 0 auto 88px;
  }

  .cover__link {
    min-height: 480px;
  }
  .footer {
    max-width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 750px) {
  .page__section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .page__section_size_md {
    padding-right: 0;
    padding-left: 0;
  }

  .page__section_size_sm {
    padding-right: 0;
    padding-left: 0;
  }

  .page__section_size_narrow {
    padding-right: 0;
    padding-left: 0;
  }
  .cover {
    margin: 0 auto 64px;
  }
  .footer {
    margin: 0 auto 24px;
    flex-direction: column;
  }
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
    gap: 32px;
  }
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
  .footer__copyright {
    line-height: 1;
  }

  .lead {
    margin: 0 auto 64px;
  }

  .lead__title {
    font-size: 70px;
  }
  .lead__subtitle {
    font-size: 21px;
    margin: 0 auto 45px;
  }

  .intro {
    margin: 0 auto 64px;
  }
  .intro__title {
    font-size: 40px;
  }
  .photo-grid {
    margin: 0 auto 64px;
  }

  .cover__link {
    min-height: 380px;
  }
  .cover__title {
    font-size: 50px;
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
  .places {
    margin: 0 auto 64px;
  }

  .place__title {
    padding-left: 16px;
  }
}
@media screen and (max-width: 650px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
  .lead__caption {
    margin-left: 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .photo-grid {
    gap: 12px;
  }
  .place {
    grid-template-columns: 1fr;
    gap: 0;
    margin-bottom: 50px;
  }

  .place__website {
    padding-left: 16px;
    padding-bottom: 32px;
  }

  .place__paragraph {
    padding-left: 16px;
  }

  .cover__link {
    min-height: 200px;
  }
  .place__image {
    margin-bottom: 32px;
  }
  .cover__title {
    font-size: 32px;
  }

  .lead__title {
    margin: 0 auto 16px;
  }
}

@media screen and (max-width: 450px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
