.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 56px;
}

@media screen and (max-width: 1150px) {
  .header {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding-top: 16px;
  }
}
