.footer__link {
  color: white;
  align-self: flex-start;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  margin: 0;
  transition: opacity 0.5s ease-out;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 750px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
