.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  margin: 0 auto 32px;
  max-width: 560px;
  z-index: 2;
}

@media screen and (max-width: 750px) {
  .cover__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 650px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.093;
    margin: 0 auto 16px;
  }
}
