.page__section {
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 900px) {
  .page__section {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 750px) {
  .page__section {
    padding-left: 16px;
    padding-right: 16px;
  }
}
